li.moments.js-moments-tab
{
    display: none;
}

.WtfLargeCarouselStreamItem
{
    display: none;
}

div [data-component-context="suggest_activity_tweet"],
div [data-component-context="suggest_recycled_tweet_inline"],
div [data-component-context="generic_activity"],
div [data-component-context="generic_activity_MagicRecFirstDegreeTweetRecap"],
div [data-component-context="generic_activity_MagicRecF1LikedAPhoto"],
div [data-component-context="generic_activity_MagicRecF1RetweetedAPhoto"],
div [data-component-context="generic_activity_MagicRecRareTweet"],
div [data-component-context="generic_activity_MagicRecLikedAPhoto"],
div [data-component-context="generic_activity_MagicRecRetweetedAPhotoWithOthers"],
div [data-component-context="generic_activity_MagicRecLikedAPhotoWithOthers"],
div [data-component-context="generic_activity_MagicRecFollowedUser"],
div [data-component-context="generic_activity_TwitterversaryYear1"],
div [data-component-context="generic_activity_TwitterversaryYear2"],
div [data-component-context="generic_activity_TwitterversaryYear3"],
div [data-component-context="generic_activity_TwitterversaryYear4"],
div [data-component-context="generic_activity_TwitterversaryYear5"],
div [data-component-context="generic_activity_TwitterversaryYear6"],
div [data-component-context="generic_activity_TwitterversaryYear7"],
div [data-component-context="generic_activity_TwitterversaryYear8"],
div [data-component-context="generic_activity_TwitterversaryYear9"],
div [data-component-context="generic_activity_TwitterversaryYear10"]
{
    display: none;
}

.Footer-adsModule
{
    display: none;
}

.promoted-trend
{
    display: none;
}

div [data-testid="primaryColumn"] div [data-testid="UserCell"],
div [data-testid="primaryColumn"] a [href="/who_to_follow"]
{
    display: none;
}
